@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IEnumerable<Nancy.Demo.Hosting.Aspnet.MyRouteMetadata>>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Route metadata</title>
    <link rel="stylesheet" href='@Url.Content("~/content/main.css")' type="text/css" media="screen"/>
    <link rel="stylesheet" href="http://highlightjs.org/static/styles/default.css" />

    <script src="http://highlightjs.org/static/highlight.pack.js"></script>

    <style type="text/css">

        div.meta>div {
            border: 1px solid #000;
            padding: 8px;
            margin-bottom: 20px;
            width: 800px;
        }

    </style>
</head>
<body>

    <h1>Route metadata</h1>
    <p>Below is a list of route metadata that was generated from a custom <strong>IRouteMetadataProvider</strong> implementation</p>

    <div class="meta">
        @foreach (var meta in @Model)
        {
            <div>
                <h1>(@meta.Method) @meta.Path</h1>

                <strong>Description:</strong>
                <p>@meta.Description</p>

                <strong>Valid return status codes:</strong>
                <p>
                    @string.Join(", ", @meta.ValidStatusCodes)
                </p>

                <strong>Code sample:</strong>
<pre><code class="csharp">@meta.CodeSample</code></pre>
            </div>
        }
    </div>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>